<% provide(:title, 'Update Resident Info') %>

<h1>Update Resident Info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <%= form_for( @resident, url: "/residents/#{@resident.floor}/#{@resident.unit}/edit" ) do |f| %>
    <%= render 'shared/error_messages' %>
    <%
      floors = 1.upto(10).to_a
      units = 1.upto(15).to_a
    %>
    <div class="form-group">
      <div class="drop-down">
        <div class='col-md-6'>
          <%= f.label :floor %>
          <%= f.select(:floor, options_for_select(floors)) %>
        </div>
        <div class='col-md-6'>
          <%= f.label :unit %>
          <%= f.select(:unit, options_for_select(units))%>
        </div>
      </div>
    </div>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :ic, "IC" %>
    <%= f.text_field :ic, class: 'form-control' %>

    <%= f.label :phone, "Phone" %>
    <%= f.text_field :phone, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
  </div>

</div>
