<% provide(:title, "Residents List") %>

<h1>Residents List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" > Floor</th>
      <th scope="col" > Unit</th>
      <th scope="col" > Name</th>
      <th scope="col" > IC</th>
      <th scope="col" > Phone</th>
      <th scope="col" > Email</th>
    </tr>
  </thead>
  <tbody>
    <% @residents.each do |r|%>
    <tr>
      <th scope="row" > <%= r.floor%> </th>
      <th scope="row" > <%= r.unit %> </th>
      <td><%= r.name %></td>
      <td><%= r.ic %></td>
      <td><%= r.phone %></td>
      <td><%= r.email %></td>
    </tr>
    <% end %>

    

  </tbody>
</table>
